
.switch_badge {
    position: absolute;
    z-index: 1;
    top: -0.8rem;
    right: -0.8rem;
    width: 1.8rem;
    height: 1.8rem;
    background: url('https://rescdn.kktv8.com/kk-web-res/activity3/play_2383/room/r-icon.png') no-repeat center center;
    background-size: contain;
}