
.prix_swiper {
    .container {
        width: 50rem;
        height: 4rem;
        background-image: linear-gradient(to right, #eec694, #ddaf73);
        box-sizing: border-box;
        border: 1px solid brown;
        border-radius: 1rem;
        margin: 2rem 0;
        line-height: 4rem;
        text-align: center;
    }
}