.scrollbar_wrap {
    margin: 2rem auto;
    
    .demo {
        position: relative;
        width: 52rem;
        height: 40rem;
        overflow: hidden;

        .demo_main {
            width: 50rem;
            height: 100rem;
            background-color: var(--blue-4);
        }
    }
}