$media-width2: 1400px;
$media-width3: 830px;

.overview {
    position: relative;
    box-sizing: border-box;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    height: 100%;

    .views {
        margin-top: 2rem;
        flex: auto;

        .views_container {
            position: relative;
            height: 100%;
            box-sizing: border-box;
            padding: 0 2rem;
            overflow: hidden;

            .views_ul {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                width: 106rem;
                margin: auto;

                .views_li {
                    width: calc((100% - 6rem) / 4);
                }
            }
        }
    }

    @media screen and (max-width: $media-width2) {

        .views {
            .views_container {
                padding: 0 1rem;

                .views_ul {
                    width: 76rem;

                    .views_li {
                        width: calc((100% - 6rem) / 3);
                    }
                }
            }
        }
    }

    @media screen and (max-width: $media-width3) {
        .views {
            .views_container {
                padding: 0;

                .views_ul {
                    width: 96%;

                    .views_li {
                        width: calc((100% - 2rem) / 2);
                    }
                }
            }
        }
    }
}