
.notifications {
    position: fixed;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: fit-content;
    height: fit-content;
    max-width: 43.2rem;
    pointer-events: none;

    &.top {
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }

    &.center {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
    }

    &.bottom {
        bottom: 2rem;
        left: 50%;
        transform: translateX(-50%);
    }
}