
.title1 {
    font-size: 3rem;
    font-weight: 600;
}

.title2 {
    font-size: 2.4rem;
    font-weight: 600;
}

.tinytext {
    font-size: 1.4rem;
    line-height: 2;
    margin: 1em 0;
}

.tinygird {
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--gray-4);
    border-radius: 0.6rem;
    user-select: none;
    transition: all .3s;
    cursor: pointer;

    .grid_header {
        height: 3.8rem;
        box-sizing: border-box;
        border-bottom: 1px solid var(--gray-4);
        padding: 0 1.2rem;
        line-height: 3.8rem;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-size: 1.4rem;
        font-weight: 600;
        font-family: -apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,'Noto Sans',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji';

        span {
            &:nth-child(2) {
                margin-left: 0.5rem;
            }
        }
    }

    .grid_main {
        height: 15.2rem;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            max-width: calc(100% - 3.2rem);
            max-height: 100%;
        }
    }

    &:hover {
        box-shadow: var(--shadow-1);
        transition: all .3s;
    }
}

.tinytag {
    margin: 0 1px;
    padding: 0.2em 0.4em;
    font-size: 0.9em;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid var(--gray-1);
    border-radius: 0.4rem;
}