html, body, div, p, span, a, nav, main, section, aside, header, footer, article,
h1, h2, h3, h4, h5, h6, ul, ol, li, textarea, button, input, select, img,
label, form {
    padding: 0;
    margin: 0;
}
html,
body {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-weight: 400;
}
body {
    font-size: 1.6rem;
    color: var(--primary-dark);
}
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}
ul, ol {
    list-style-type: none;
}
input, button {
    border: none;
    outline: none;
}
a {
    text-decoration: none;
}
.hide {
    display: none !important;
}