
$gitpx: 3.2rem;

.common_header {
    height: 6rem;
    flex-shrink: 0;
    box-sizing: border-box;
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 0.6rem 0.2rem var(--gray-1);

    .sit {
        width: $gitpx;
        height: $gitpx;
        visibility: hidden;
        opacity: 0;
    }

    .search {
        width: 24.2rem;
        height: 2.2rem;
        display: flex;
        align-items: center;

        .search_icon {
            width: 1.8rem;
            height: 1.8rem;

            svg {
                width: 100%;
                height: 100%;
                fill: var(--gray-3);
            }
        }

        .search_inp {
            flex: auto;
            box-sizing: border-box;
            padding: 0 1.2rem;
            font-size: 1.4rem;

            &::-webkit-input-placeholder  {
                color: var(--gray-3);
            }
            &:-ms-input-placeholder {
                color: var(--gray-3);
            }
        }
    }

    .right {
        height: 100%;
        display: flex;
        align-items: center;
        gap: 2rem;

        .link {
            display: block;
            width: $gitpx;
            height: $gitpx;
            border-radius: 50%;
            overflow: hidden;
    
            svg {
                width: 100%;
                height: 100%;
            }
        }

        .avatar {
            position: relative;
            width: $gitpx;
            height: $gitpx;
            // border-radius: 50%;
            cursor: pointer;

            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                transition: all .3s;
            }

            .hover_profile {
                position: absolute;
                z-index: 1;
                top: 110%;
                left: 50%;
                transform: translateX(-50%);
                min-width: 10rem;
                box-sizing: border-box;
                padding: 2rem 0;
                display: none;
                background-color: var(--primary-light);
                user-select: none;
                border: 1px solid var(--gray-4);
                border-radius: 0.6rem;
                
                .info_item {
                    width: 100%;
                    text-align: center;
                    font-size: 1.4rem;
                    box-sizing: border-box;
                    padding: 0.5rem 1rem;
                    white-space: nowrap;

                    &.nickname {
                        font-family: var(--font-1);
                        font-weight: 500;
                        max-width: 12rem;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        cursor: default;
                    }

                    &.logout {
                        cursor: pointer;
                    }   

                    &:hover {
                        background-color: var(--gray-4);
                    }
                }
            }

            &:hover {
                box-shadow: var(--shadow-1);

                img {
                    transform: scale(1.2);
                    transition: all .3s;
                }

                .hover_profile {
                    display: block;
                }
            }
        }
    }
}