
.dialog {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--gray-5);
    }

    .wrap {
        position: relative;

        .x {
            position: absolute;
            z-index: 1;
            top: 1rem;
            right: 1rem;
            width: 3rem;
            height: 3rem;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            svg {
                width: 50%;
                height: 50%;
            }

            &:hover {
                background-color: var(--gray-4);
            }
        }
    }
}