

@mixin seticon($size, $color, $rate: 1) {
    width: $size;
    height: $size;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;

    svg {
        width: $size * $rate;
        height: $size * $rate;
        fill: $color;
    }
}

@keyframes visit {
    0% {transform: translateY(0);}
    100% {transform: translateY(-1.5rem);}
}

.notify {
    display: inline-flex;
    font-family: var(--font-1);
    font-size: 1.4rem;
    user-select: none;
    max-width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1.2rem;
    font-weight: 400;
    border-radius: 0.6rem;
    box-shadow: var(--shadow-4);
    color: var(--primary-light);
    word-break: break-all;
    pointer-events: all;
    animation: visit 0.3s forwards;

    .type_icon {
        @include seticon(1.6rem, var(--primary-light), );
        margin-top: 0.2rem;
    }

    &.default {
        background-color: var(--gray-5);
    }

    &.info {
        background-image: linear-gradient(to right, var(--cyan-1), var(--blue-2));
    }

    &.sc {
        background-image: linear-gradient(to right, var(--green-2), var(--green-1));
    }

    &.err {
        background-image: linear-gradient(to right, var(--red-2), var(--red-1));
    }

    &.warn {
        background-image: linear-gradient(to right, var(--yellow-2), var(--yellow-1));
    }
}